.masthead {
    text-align: center;
}
.form {
    width: 400px;
    margin: 0 auto;
}

a,
a:visited,
a:hover {
    cursor: pointer;
    text-decoration: none !important;

h4,
.job-name,
.company_name,
.company_description {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #333;
}

.company-item img {
    height: 120px !important;
}


.newest-job-list,
.newest-company-list {
    margin-top: 15px;
}


.newest-job-list-title,
.newest-company-list-title {
    color: #e41b23;
}


.job-box {
    padding: 13px;
    border: solid 1px #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
}
.list-title {
    margin: 0 15px;
}
.company-item {
    text-align: center;
}
.list-more {
    text-align: center;
    margin-bottom: 50px;
}
.list-more-btn {
    padding: 10px 120px;
    color: #5cb85c;
    background-color: #fff;
}

.text-green {
    color: #009a61;
}

.daysince {
    font-size: 14px;
    color: #999;
}

.text-muted {
    color: #777;
}
.nav-pagination {
    text-align: center;
}

.footer {
    border-top: 1px solid #eee;
    padding: 16px 0 24px;
    margin-top: 15px;
    color: #999;
    font-size: 14px;
}