{% extends "base.html" %}
{% from "macros.html" import render_job, render_company %}

{% block title %} {{super()}} {% endblock %}

{% block jumbotron %}
<div class="jumbotron masthead">
        <div class="container">
                <h1>JOBPLUS</h1>
                <p>领先的网络求职、招聘一站式服务平台</p>
        </div>
</div>
{% endblock %}

{% block body %}
<ul class="nav nav-tabs list-title">
        <li role="presentation" class="active">
                <h2 class="newest-job-list-title">最新发布的职位</h2>
        </li>
</ul>
<div class="newest-job-list">
        {% if data['job'] %}
        {% for job in data['job'] %}
        {{render_job(job)}}
        {% endfor %}
        {% endif %}
</div>
<p class="list-more">
        <a href="{{url_for('job.index')}}" class="btn btn-success btn-lg list-more-btn">查看更多</a>
</p>
<ul class="nav nav-tabs list-title">
        <li role="presentation" class="active">
                <h2 class="newest-company-list-title">最新注册的公司</h2>
        </li>
</ul>
<div class="newest-company-list">
        {% if data['company'] %}
        {% for company in data['company'] %}
        {{render_company(company)}}
        {% endfor %}
        {% endif %}
</div>
<p class="list-more">
        <a href="{{url_for('company.index')}}" class="btn btn-success btn-lg list-more-btn">查看更多</a>
</p>


{% endblock %}
