{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block jumbotron %}
<div class="jumbotron masthead">
        <div class="container">
                <h1>JOBPLUS</h1>
                <p>领先的网络求职、招聘一站式服务平台</p>
        </div>
</div>
{% endblock %}

{% block body %}
<ul class="nav nav-tabs list-title">
        <li role="presentation" class="active">
                <a href="#">最新发布的职位</a>
        </li>
</ul>
<div class="newest-job-list">
        {% if data['job'] %}
        {% for job in data['job'] %}
        <div class="col-sm-6 col-md-4">
                <div class="job-box">
                        <div class="caption">
                                <a href="#">
                                        <h4 class="job-name">{{job.name}}</h4>
                                        <p class="daysince">[{{job.calculate_days()}}天前]</p>
                                        <p>[{{job.workplace}}]</p>
                                        <p>{{job.experience_requirement}} {{job.degree_requirement}}</p>
                                        <span class="text-green">{{job.low_salary}}-{{job.high_salary}}</span>
                                        {% if job.is_fulltime %}
                                        <span >全职</span>
                                        {% else %}
                                        <span >实习</span>
                                        {% endif %}
                                </a>    
                        </div>
                        <hr>
                        <div class="media">
                                <div class="media-left">
                                        <a href="#">
                                                <img class="media-object" src="{{job.company.logo}}" width="40" height="40">
                                        </a>
                                </div>
                                <div class="meida-body">
                                        <a href="#">
                                                <h4 class="media-heading">{{job.company.name}}</h4>
                                        </a>
                                        <span class="company-meta">{{job.company.email}}</span>
                                </div>
                        </div>
                </div>
        </div>
        {% endfor %}
        {% endif %}
</div>
<p class="list-more">
        <a href="#" class="btn btn-success btn-lg list-more-btn">查看更多</a>
</p>
<ul class="nav nav-tabs list-title">
        <li role="presentation" class="active">
                <a href="#">最新注册的公司</a>
        </li>
</ul>
<div class="newest-company-list">
        {% if data['company'] %}
        {% for company in data['company'] %}
        <div class="col-sm-6 col-md-4 company-item">
                <div class="thumbnail">
                        <a href="#">
                                <img class="company_logo" src="{{company.logo}}">
                                <h3 class="company_name">{{company.name}}</h3>
                                <p class="company_description">{{company.description}}</p>
                        </a>
                        <a href="#">
                                <p>在招职位:{{company.openjobs()}}</p>
                        </a>
                </div>
        </div>
        {% endfor %}
        {% endif %}
</div>
<p class="list-more">
        <a href="#" class="btn btn-success btn-lg list-more-btn">查看更多</a>
</p>


{% endblock %}