{% extends "company/admin_base.html" %}
{% from "macros.html" import render_pagination %}

{% block title %}
职位管理-{{company.name}}
{% endblock %}


{% block admin %}
<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>职位名称</th>
			<th>企业名称</th>
			<th>发布时间</th>
			<th>查看次数</th>
			<th>类型</th>
			<th>状态</th>
		</tr>
	</thead>
	<tbody>
		{% for job in pagination.items %}
		<tr>
			<td>{{job.id}}</td>
			<td>{{job.name}}</td>
			<td>{{job.company.name}}</td>
			<td>{{job.created_tm}}</td>
			<td>{{job.view_count}}</td>
			<td>{% if job.is_fulltime %}全职{% else %}实习{% endif %}</td>
            <td>{% if job.is_open %}上线{% else %}下线{% endif %}</td>
			<td>
				<div class="btn-group" role="group">
					{% if job.is_open %}
                    <a href="{{url_for('job.disablejob', job_id=job.id)}}" type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-off" title="下线" aria-hidden="true"></span>
                    </a>
                    {% else %}
                    <a href="{{url_for('job.enablejob', job_id=job.id)}}" type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-ok" title="上线" aria-hidden="true"></span>
                    </a>
                    {% endif %}
                    <a href="{{url_for('company.admin_editjob', company_id=job.company_id)}}" type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-pencil" title="编辑" aria-hidden="true"></span>
                    </a>
                    <a href="{{url_for('company.admin_deljob', company_id=job.company_id)}}" type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-trash" title="删除" aria-hidden="true"></span>
                    </a>
                </div>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{{render_pagination(pagination, 'company.admin_index')}}
{% endblock %}

{% block operation %}
<!--bootstrap垂直排列按钮-->
<div class="btn-group-vertical" role="group" aria-label="operation">
<a href="{{url_for('company.admin_addjob', company_id=company.id)}}" type="button" class="btn btn-primary">
	<span class="glyphicon glyphicon-plus" aria-hidden="true">添加职位</span>
</a>
</div>
{% endblock %}
