{% extends "base.html" %}
{% from "macros.html" import render_pagination, render_job %}

{% block title %}
招聘职位信息-{{company.name}}
{% endblock %}

{% block head_css %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='company.css')}}">
{% endblock %}

{% block body %}
<div class="company-detail_base">
	<div class="container">
		<div class="row mt30 mb30">
			<div class="col-md-3 col-sm-3">
				<div class="img-warp">
					<img src="{{company.logo}}" height="">
				</div>
			</div>
			<div class="col-md-9 col-sm-9">
				<div class="company-name">
					<h2>{{company.name}}</h2>
					<p class="company-desc ellipsis text-muted">{{company.description}}</p>
					<ul class="list-inline ml0 mb0">
						{% for tag in company.taglist %}
						<li>{{tag}}</li>
						{% endfor %}
					</ul>
					<div>
						<a href="{{company.site}}">{{company.site}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="company-detail_menu">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
			<ul class="nav nav-pills nav-tabs-company-detail">
				<li role="presentation"><a href="{{company.url}}">企业主页</a></li>
				<li class="active" role="presentation"><a href="{{url_for('company.company_openjobs',company_id=company.id)}}">招聘职位</a></li>
			</ul>
		</div>
		</div>
	</div>
</div>

<div class="row company-openjobs">
	<div class="list-group">
		{% for job in company.job %}
        {% if job.is_open %} <!--不展示企业已下线职位-->
		<a class="list-group-item" href="{{job.url}}">
			<span class="badge">{{job.view_count}}</span>
			<span style="margin-right:5em; display:inline-block">{{job.name}}</span>
			<span style="color:#009a61;margin-right:5em; display:inline-block">{{job.low_salary}}-{{job.high_salary}}</span>
			<span style="margin-right:5em; display:inline-block">{{job.workplace}}</span>
		</a>
		{% endif %}
		{% endfor %}
	</div>
</div>


{% endblock %}
