{% extends "admin/index.html" %}
{% from "macros.html" import render_pagination %}

{% block title %}
用户管理
{% endblock %}

{% block admin %}
<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>邮箱</th>
			<th>用户类型</th>
			<th>姓名</th>
			<th>手机号</th>
			<th>企业名称</th>
			<th>企业网站</th>
			<th>工作年限</th>
		</tr>
	</thead>
	<tbody>
		{% for user in pagination.items %}
		<tr>
			<td>{{user.id}}</td>
			<td>{{user.email}}</td>
			<td>
				{% if user.is_company %}企业用户
                {% else %}求职者
                {% endif %}
			</td>
            <td>{{user.username}}</td>
            <td>{{user.mobilephone}}</td>
            <td>{% if user.is_company %}{{user.company.name}}{% endif %}</td>
            <td>{% if user.is_company %}{{user.company.site}}{% endif %}</td>
            <td>{% if not user.is_company %}{{user.work_years}}{% endif %}</td>
			<td>
              
				<div class="btn-group" role="group">
					<a href="{{url_for('admin.edituser', user_id=user.id)}}" type="button" class="btn btn-default" title="编辑">
						<span class="glyphicon glyphicon-pencil" title="编辑" aria-hidden="true"></span>
					</a>
					{% if user.is_disable %}
                    <a href="{{url_for('admin.disableuser', user_id=user.id)}}" type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-ok" title="启用" aria-hidden="true"></span>
                    </a>
                    {% else %}
                    <a href="{{url_for('admin.disableuser', user_id=user.id)}}" type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-off" title="禁用" aria-hidden="true"></span>
                    </a>
                    {% endif %}
                </div>
 
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{{render_pagination(pagination, 'admin.users')}}
{% endblock %}

{% block operation %}
<!--bootstrap垂直排列按钮-->
<div class="btn-group-vertical" role="group" aria-label="operation">
<a href="{{url_for('admin.adduser')}}" type="button" class="btn btn-primary">
	<span class="glyphicon glyphicon-plus" aria-hidden="true">添加求职者用户</span>
</a>
<a href="{{url_for('admin.addcompany')}}" type="button" class="btn btn-primary">
	<span class="glyphicon glyphicon-plus" aria-hidden="true">添加企业用户</span>
</a>
</div>
{% endblock %}
